.blog-section-img img{
    width: 100%;
}
.blog-section-details h3{
    font-size: 30px;
    cursor: pointer;
    transform: 5s !important;
    margin-bottom: 15px;
}
.blog-section-details h3:hover{
    color: #FF871D;
}
.blog-section-details p{
    font-size: 17px;
    color: gray;
    line-height: 2rem;
}
.blog-section-details button{
    border: 1px solid black;
    padding: 10px 30px;
    font-weight: 500;
    transition: .5s;
    border-radius: 10px;
    margin-top: 20px;
}
.blog-section-details button:hover{
    background-color: #FF9F1A;
    color: #ffff;
}