.update-details {
    border-radius: 20px;
}

.update-img {
    border-radius: 30px;
}

.update-form input {
    padding: 8px;
    background-color: #ffffff9f;
}
.update-form input{
    outline: none;
}
.update-form button{
    padding: 8px 10px;
    outline: none;
    background-color: #2C2C54;
    color: white;
    border-radius: 0 5px 5px 0;
}
.manage-button{
    padding: 10px 20px;
    background-color:#2C2C54 ;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}


@media only screen and (max-width: 768px) {
    .update-img img {
        width: 80% !important;
    }
}
@media only screen and (max-width: 600px) {
    .update-img img {
        width: 90% !important;
    }
}
@media only screen and (max-width: 400px) {
    .update-img img {
        width: 100% !important;
    }
}