.collection-exercise{
    background-image: url(../images/home-1-banner-1.jpg);
    background-size: cover;
    padding: 80px 50px;
    color: #fff;
    
}
.collection-sport{
    background-image: url(../images/home-1-banner-2.jpg);
    padding: 80px 50px;
}
.collection h2{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 6px;
}
.collection h6{
    color: orange;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 255px;
}