.carousel-section {
    padding:100px;
    background-image: url(../images/home-bg-3.jpg);
    background-size: cover;
}

.banner-img img {
    width: 100%;
    transform: rotate(-20deg);
}
.details-btn{
    padding: 10px 20px;
    border: 1px solid rgba(99, 99, 99, 0.251);
    border-radius: 8px;
    background-color:#ffb908c7;
    font-size: 20px;
}
.banner-text span{
    color: #FFB908;
    font-size: 18px;
}
.banner-text h2{
    color: #2C2C54;
    font-size: 55px;
    font-weight: 700;
}