.addInventory-form input {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.857);
    outline: none;
}

.addInventory-form textarea {
    height: 80px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.857);
    outline: none;
}